main div {
  color: red;
}

/* This rule will only select the divs with the class child */
main > div {
  color: blue;
}

/* This rule will only select the divs with the class grand-child */
main > div > div {
  color: green;
}

/* This rule will only select the div with the class child group2 */
.group1 + div {
  background-color: aqua;
}

/* This rule will only select the div with the class child group3 */
.group1 + div + div {
  background-color: black;
  color: white;
}

/* This rule will select all of .group1's siblings - in this case the 2nd and 3rd .child divs */
.group1 ~ div {
  font-size: 3rem;
}

/* //Pseudo-class selector */

/* Targets all links */
a:link {
  color: green;
}

/* Links on hover state */
a:hover {
  font-size: 2rem;
}

/* links when visited */
a:visited {
  color: red;
  text-decoration: underline;
}

/* Match elements that have no children at all */
.container > div:empty {
  border: 2px solid black;
  height: 50px;
}

.para:nth-child(2) {
  color: blue;
}
.para:first-child {
  color: blueviolet;
}
.para:last-child {
  color: brown;
}
.para:nth-child(odd) {
  font-size: 1.3rem;
  font-style: italic;
}
.para:nth-child(even) {
  background-color: #bdb3b3;
}

/* Selects every 5th element */
.para:nth-child(5n) {
  font-weight: bold;
  color: red;
  text-decoration: line-through;
}
